.form-login {
    width: 700px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    padding: 40px;
    background-color: #e0e0e07d;
    border-radius: 40px;
    margin-top: 20px;
}

.input-form {
    width: 400px;
}

.button-form {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.label-form {
    text-align: left;
}

.grid-row {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
}